.board {
  // z-index: -1;/
 position: relative;
  height: 100%;
  width: 100%;
}
.whiteboard {
  position: absolute;
//   background: transparent;
//   overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  // z-index: -1;
}

.colors {
    position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
  z-index: 10;
}

.color.black {
  background-color: black;
}
.color.red {
  background-color: red;
}
.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.yellow {
  background-color: yellow;
}



.iframe{
    width: 100%;
    height: 100%;
    overflow: hidden;

}