// FONT
$font-stack: "Courier New", Courier, monospace;

// COLORS
$background: #403061;
$menu: #403061;
$button: #7C5CBF;
$button-hover: #6b47b8;
$button-disabled: #7c5cbf94;
$form: #F7F7FA;
$input: #eeeeee;
$start-game-button: #fbb000;;
$start-game-button-hover: #fcbf32;;