// @import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

@use "../../../Colors/Colors.scss";


.game-container-nav {
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // padding: 0.5rem 0rem;
  background-color: #391b72;

  color: white;
  font-weight: 600;


  &__title{

    // font-size: 1.5rem;
    // margin: 0.7rem 1rem 0rem 1rem;
    margin: 0 0 0 2vh;
    color: rgb(255, 255, 255);

    img{
      border-radius: 50px;
      height: 8vh;
    }

  }


  &__menu{
   
    width: 100%;

    &--list-elements{
      display: flex;
      align-items: center;
    }
    ul{
        display: flex;
        padding: 0;
        justify-content: right;
    }
    li{
        // border: 1px solid #1d152c;
        // padding: 15px;
        list-style-type: none;
        margin: 20px;
        transition: background .3s ease;
        font-family: Colors.$font-stack;
        font-weight: 600;
        // background: Colors.$light_purple;
        // cursor: pointer;
        // color: Colors.$white;
        // font-size: 16px;
        // border-radius: 25px;
        // margin-top: 8px;

    }
    li:hover{
      cursor: pointer;
      color: white;
      // background: Colors.$dark_purple;
    }
     &--options{
      list-style-type: none;
      // margin: 20px;
      transition: background .3s ease;
      font-family: Colors.$font-stack;
      font-weight: 600;
    }
    &--options:hover {
        color:rgb(165, 165, 165);
        cursor: pointer;
    }
    &--logout{
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 1rem;

    }

  }
  

}

article h1 {
  margin: 1rem 0;
}


.start-play {
  padding: 10px 20px;
  background: Colors.$yellow;
  border-radius: 15px;
  color: Colors.$black;
  transition: background 0.3s ease;
}
.start-play:hover {
  background: Colors.$yellow_light;
  color: Colors.$black;
}