// FONT
$font-stack: "Courier New", Courier, monospace;

// COLORS

$grey: #777;
$black: #000;
$light_black: rgba(0, 0, 0, 0.76);
$white: #fff;
$light_white: rgba(255, 255, 255, 0.76);

$purple: #403061;
$light_purple: #7C5CBF;
$dark_purple: #644A99;

// $button-hover: #6b47b8;

$form: #F7F7FA;
$input: #eeeeee;

$yellow: #fbb000;
$yellow_light: #eba500f2;