@use "../../../Colors/Colors.scss";

.footer{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    background-color: Colors.$purple;
    color: white

}