// $bg-img: url("../../../../img/two.png");
@use "../../../Colors/Colors.scss";

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 88vh;
  width: 100%;
  // background: Colors.$light_purple;
  color: Colors.$white;

  &__title{
    text-align: center;
    width: 100%;
    letter-spacing: 5px;
    font-size: 52px;
    margin-bottom: 20px;
  }

  &__game-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 32vw;
    min-width: 315px;
    height: 50vh;

    &--game-type {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 100%;
      letter-spacing: 2px;
      font-size: larger;
      padding: 28px;
      margin-top: 10px;
      background: #391b72;;
      border: none;
      color: Colors.$white;
      text-decoration: none;
      font-weight: 600;
  
    }
    &--game-type:hover {
      background: Colors.$purple;
    }

    &--title {
      // display: flex;
      // justify-content: space-between;
      text-align: center;
      width: 100%;
      letter-spacing: 5px;
      font-size: 52px;
      margin-bottom: 20px;
  
    }
  }

 
  .start-play {
    padding: 10px 20px;
    background: Colors.$yellow;
    border-radius: 15px;
    color: Colors.$black;
    transition: background 0.3s ease;
    font-weight: 600;
    text-decoration: none;
    border: none;
  }
  .start-play:hover {
    background: #ffa600;
    color: Colors.$black;
  }
}
