@use "../../Colors/Colors.scss";
.join-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 88vh;
    // margin-left: 5vw;
    // max-width: 1160px;
    font-family: Colors.$font-stack;
    // background: Colors.$light_purple;
    color: Colors.$white;
    
    
    h2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        color: Colors.$light_black;
    }
&__room-list{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 70%;
  background-color: #f7f7fa;

  color: black;
  // overflow: scroll;
  max-width: 624px;
  padding: 24px;
  // min-width: 500px;
 &--room{
 
  &--form{
    // overflow-x: scroll;
    min-width: 580px;
    
    width: 100%;
    // padding: 0 0 10px 10px;

    label{
      padding: 0 12px;
    }
  }
  &--input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
    margin: 12px 0;

  }
  &--submit {

    cursor: pointer;
    width: 15.5%;
    // margin: 12px 40% 0 40% ;
    margin: 12px 0 0 12px;
    padding: 12px;
    background: Colors.$dark_purple;
    border: none;
    color: Colors.$white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 25px;
  }
  &--submit:hover {
    background: Colors.$purple;
  }
 }


}

&__options{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: Colors.$font-stack;

    &--button {
        font-family: Colors.$font-stack;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: white;
        background-color: #4c2a8b;
        padding: 15px 20px;
        border: none;
        font-weight: 600;

      }
      &--button:hover {
        background: Colors.$purple;
    
      }
      // actual active button 
      .true{
        background: Colors.$dark_purple;
    }
  
}


&__back {
    margin: 12px 0;


  &--button {
      text-decoration: none;
      color: Colors.$dark_purple;
      font-size: 18px ;
      font-weight: 600;
      
    }
    &--button:hover {
      color: Colors.$purple;
    }
    
  }
    &__join{
        width: 25vw;
        min-width: 450px;
        padding: 24px;
        color: Colors.$black;
        box-shadow: 0px 0px 17px 1px #1d1f26;
        background: #f7f7fa;
    
        &--form{
            display: flex;
            justify-content: center;
            flex-direction: column;
   
            color: Colors.$grey;
            padding: 24px 24px 0 24px;
            
        }
        
    &--input {
        border: 1px solid #eeeeee;
        padding: 12px;
        outline: none;
        margin: 12px 0  ;
      }
      &--submit {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 25%;
        margin: 12px 40% 0 40% ;
        padding: 12px;
        background: Colors.$dark_purple;
        border: none;
        color: Colors.$white;
        text-decoration: none;
        font-weight: 600;
        border-radius: 25px;
      }
      &--submit:hover {
        background: Colors.$purple;
      }
    }
    &__create-game{
        width: 25vw;
        min-width: 450px;
        color: Colors.$black;
        box-shadow: 0px 0px 17px 1px #1d1f26;
        background: #f7f7fa;
        padding: 24px;
        &--form{
            display: flex;
            justify-content: center;
            padding: 24px 24px 0 24px;
            flex-direction: column;
            color: Colors.$grey;
         

        }
        
    &--input {
        border: 1px solid #eeeeee;
        padding: 12px;
        outline: none;
        margin: 12px 0;
      }
  

    &--submit {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 25%;
        margin: 12px 40% 0 40% ;
        padding: 12px;
        background: Colors.$dark_purple;
        border: none;
        color: Colors.$white;
        text-decoration: none;
        font-weight: 600;
        border-radius: 25px;
      }
      &--submit:hover {
        background: Colors.$purple;
      }

    }
}
