@use "../../Colors/Colors.scss";

.game-container {
  position: relative;
  // background-color: #403061;

  &__room-info {
    display: flex;
    // align-items: center;
    justify-content: center;
    color: white;
    width: 20vw;
    // padding-left: 10px;

  &--user{
    margin: 15px;
  }
}

  &__board {
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;
    width: 100%;
    // background-color: #403061;
    height: 88vh;

    &--join-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Courier New", Courier, monospace;
      cursor: pointer;
      padding: 20px;
      font-size: 22px;
      max-width: 150px;
      background:Colors.$light_purple;
      text-decoration: none;
      font-weight: 600;
      width: 100%;
      margin-right: 55px;
      background: Colors.$yellow;
      border-radius: 25px;
      color: Colors.$black;
      transition: background 0.3s ease;
      font-weight: 600;
      border: none;
      text-decoration: none;
   
      //   transition: background 0.3s ease;
    }
    &--join-button:hover {
      cursor: pointer;
     
      background: #FBA500;
      color: Colors.$black;
    }
    &--join-button:disabled {
      cursor: default;
      background:  grey;
    }
    
    &--waiting{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 90%;
        opacity: 0.6;
        background-color: grey;
        color: white;
     

        &-info{
          display: flex;
          width: 80%;
          justify-content: center;
          align-items: center;
            font-size: 2rem;
            font-weight: 600;
        }
    }


    &--started-game {
             
        display: flex;
        flex-direction: row;
        // justify-content:center;
        align-items: center;
        width: 80%;
        height: 90%;
        color: white;
        // background-color: #391b72;

        // .tictactoe-items{}
        .tictactoe-item{
          
            // margin: 0 0.2rem;

        }
    }

    &--info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      margin-bottom: 15px;
      width: 80%;



      h2{
        margin: 8px 0;
      }
    }
  }
}

.position-game-area {
  display: flex;
  flex-direction: row;
}
