.game-container {
  position: relative;
  background-color: #403061;

  &__room-info {
    display: flex;
    // align-items: center;
    justify-content: center;
    color: white;
    width: 20vw;
    // padding-left: 10px;

  &--user{
    margin: 15px;
  }
}

  &__board {
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #403061;
    height: 88vh;

    &--join-button {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: transform(-50%, -50%);
      font-family: "Courier New", Courier, monospace;
      cursor: pointer;
      margin-bottom: 12px;
      padding: 15px;
      background-color: #7C5CBF;
      border-radius: 15px;
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 600;
      max-width: 150px;
      //   transition: background 0.3s ease;
    }
    &--join-button:hover {
      cursor: pointer;
      background-color: #FFB703;
    }
    &--join-button:disabled {
      cursor: default;
      background:  grey;
    }
    
    &--waiting{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        background-color: grey;
        color: white;
     

        &-info{
           
            font-size: 2rem;
        }
    }


    &--started-game {
             
        display: flex;
        flex-direction: row;
        // justify-content:center;
        align-items: center;
        width: 80%;
        height: 80%;
        color: white;
        background-color: #2d3962;

        // .tictactoe-items{}
        .tictactoe-item{
          
            // margin: 0 0.2rem;

        }
    }

    &--info{
      // display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      margin-bottom: 15px;
      width: 80%;


      h2{
        margin: 8px 0;
      }
    }
  }
}

.position-game-area {
  display: flex;
  flex-direction: row;
}
