.game-container {

  background-color: #403061;

  &__room-info {

    align-items: center;
    justify-content: center;
    color: white;
    // padding-left: 10px;
  }

  &__board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #403061;
    height: 87vh;

    &--join-button {
      font-family: "Courier New", Courier, monospace;
      cursor: pointer;
      margin-bottom: 12px;
      padding: 15px;
      background-color: #7C5CBF;
      border-radius: 15px;
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 600;
      //   transition: background 0.3s ease;
    }
    &--join-button:hover {
      cursor: pointer;
      background-color: #FFB703;
    }
    &--join-button:disabled {
      cursor: default;
      background:  grey;
    }
    
    &--waiting{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 500px;
        background-color: grey;
        color: white;
     

        &-info{
            font-size: 2rem;
        }
    }


    &--started-game {
             
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        width: 500px;
        height: 500px;
        color: white;
        background-color: #2d3962;

        // .tictactoe-items{}
        .tictactoe-item{
          
            margin: 0 0.2rem;

        }
    }

  }
}

.position-game-area {
  display: flex;
  flex-direction: row;
}
